.header {
  width: 100%;
  min-height: 56px;
  /* background-color: #f0f8ef; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-height: 750px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 1367px) {
  .header {
    width: 1366px;
  }
}

.header-container {
  width: 90%; /* so that there is some space on the left and right side in the header */
  display: flex;
}

.header-logo-and-title {
  display: flex;
  width: 80%; /* for logo and title */
}

.header-title-container {
  margin-inline-start: 2%;
  display: flex;
  align-items: center;
}

.header-icon {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-icon-menu-line {
  height: 5px;
  width: 50%;
  background-color: #8cfffb;
  margin: 2px 0 2px 0;
  position: relative;
  left: 25%;
}

.header-icon-menu-first-line {
  transition: 0.5s;
  transform: rotate(-45deg) translateX(-7px) ;
}

.header-icon-menu-second-line {
  display: none;
}

.header-icon-menu-third-line {
  transition: 0.5s;
  transform: rotate(45deg) translateX(-7px) ;
}